<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bfs.DrawingTool">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="com.example.bfs.DrawingTool.ResultNumberDraw"></activity>
        <activity android:name="com.example.bfs.DrawingTool.OptionsDrawANumber" />
        <activity android:name="com.example.bfs.DrawingTool.UniqueResult" />
        <activity android:name="com.example.bfs.DrawingTool.ShowSavedParticipants" />
        <activity android:name="com.example.bfs.DrawingTool.StartScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.bfs.DrawingTool.AddParticipants" />
        <activity android:name="com.example.bfs.DrawingTool.ResultIndividualDraw" />
        <activity android:name="com.example.bfs.DrawingTool.MultipleTeams" />
        <activity android:name="com.example.bfs.DrawingTool.Screen" />
        <activity android:name="com.example.bfs.DrawingTool.ResultMultipleDraw" />
        <activity android:name="com.example.bfs.DrawingTool.OptionsMultipleDraw" />
        <activity android:name="com.example.bfs.DrawingTool.IndividualDrawChooseType" />
    </application>

</manifest>